* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    overflow-x: hidden;
}
 /* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size:40px;
    font-weight: bolder;
}
.color-orange {
    color:#FD6E0A ;
}
.btn {
    background-color: #FD6E0A;
    border:none ;
    padding: 18px 25px;
    border-radius:5px ;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: aqua;
    background-color: #474747;
}
.section-heading {
    width: 100%;
    text-align:center;
    margin: 0px auto;


}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:#757575;
}
/* main style */
header{
    background-color:#FFF8F3;
    padding-top: 50px;
    background: url("images/developer.png"), url("images/header_bg.png"),#FFF8F3;
    background-position: top left, bottom right;
    background-repeat:no-repeat ;

}
nav {
   width: 100%;
   /* border: 1px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    gap: 40px;

}
nav .menu { 
    display:flex;
    list-style-type:none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    text-decoration:none ;
    
}
#banner {
    /* border: 1px solid red; */
    margin:47px 38px 0px 230px ;
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:20px;
}
#banner .banner-content {
 width: 80%;
}
#banner .banner-content h2 {
    font-size: 35px;
    font-weight: 600px;
    color: #474747;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight:bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height:30px ;
    margin-bottom: 30px;
}
#banner .banner-image {
    width: 100%;
    vertical-align: middle;
    /* margin-bottom: 0px;
    padding-bottom: 0px; */


}
#about {
    padding-top: 130px;
}
#about .about-container {
     width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding:131px 156px ;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .Info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.about-info .Info-card h4 {
    font-size: 20px;

}

#skills {
    padding-top: 130px;
    text-align: center;
}
#skills .skills-container {
    width:100%

}
#skills .skills-container .skills-box {
    display: flex;
    gap: 24px;
}
.skills-box .skills-card {
    padding: 30px
    box-shadow: 0px 6px 50px 
    text-align: center;
    justify-content: center;
    border: 1px solid red;
    border-radius:4px
    gap:10px
    margin-left:px;
    /* padding: 0px auto;
    margin: 0px auto; */
}
.skills-card img {
margin: 30px;
border: 2px solid #757575;
border-radius: 4px;
 
}
.skills-card h3 {
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;

}
.skills-card p {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-bottom: 30px;
}